body{
    background-color: white;
}

div{
    font-family: 'Bungee Inline', cursive;
    font-size: 150px;
    color: black;
}

.pongCanvas {
    background-color: #353b48;
    border: 5px solid green;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.net{
    content:"";
    position: absolute;
    z-index: 0;
    top: 60%;
    width: 0px;
    height:600px;
    left: 50%;
    border-left: 2px dotted green;
    transform: translateY(-50%)
}

.title{
    margin-top: 30px;
    font-family: 'Bungee Inline', cursive;
    font-size: 150px;
    text-align: center;
} 

.themeButton{
    position: absolute;
    padding: 15px 25px;
    text-align: center;
    color: black;
    top: -117px;
    left: 441px;
}

.themeButton > .main {
    padding: 5px;
    border: none;
    background-color: red;
    border-radius: 2px;
}

.pinkTheme:hover{
    background-color:#ff6b81;
    box-shadow: 0px 5px 0px 0px #CE3323;
}
.pinkTheme:active{
    -webkit-transform: translate(0px, 5px);
    background-color:pink;
    box-shadow: 0px 1px 0px 0px;
    transform: translateY(4px);
    border-radius: 15px;
}

.kingTheme:hover{
    background-color:#F79F1F;
}

.kingTheme:active{
    -webkit-transform: translate(0px, 5px);
    background-color: #FFC312;
    box-shadow: 0px 1px 0px 0px;
    transform: translateY(4px);
    border-radius: 15px;
}